<h2><%= t('wish.input') %> </h2>
<% if @current_wish.present? %>
  <div class="col-sm-12 col-lg-7 col-xl-7 mx-auto mb-5 mb-xl-4 mt-5 mt-sm-0 pt-5">
    <div class="card">
      <div class='image-wrapper'>
        <img class="card-img-top" src="/images/dog.jpg" alt="Card image cap">
        <p class='img_source'>
          Photo by Kostya Naddubov from Pexels
        </p>
      </div>

      <div class="card-body">
        <h5 class="card-title text-center">Twoje tegoroczne życzenie</h5>
        <p class="card-text">
          <%= @current_wish.description %>
        </p>
        <%= link_to 'Zmień życzenie', edit_wish_path(@current_wish.id), class: 'card-link' %>
      </div>
    </div>
  <% else %>
    <%= render partial: 'form' %>
  <% end %>
</div>
