<!-- before assignment -->

<div class="col-sm-12 col-lg-7 col-xl-7 mx-auto mb-5 mb-xl-4 mt-5 mt-sm-0 pt-5">
  <div class="card">
    <a href='https://www.pexels.com/photo/white-dog-844454/', target='_blank'>
      <img class="card-img-top" src="images/dog.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <p class="card-text text-center">Wygląda na to, że jeszcze nic tu nie ma</p>
    </div>
  </div>
</div>
