<div class="col-sm-12 col-lg-9 mx-auto mb-5 mb-xl-4 mt-5 mt-sm-0 pt-5">
  <div class="card">
    <div class='image-wrapper'>
      <img class="card-img-top" src="images/gifts.jpg">
      <p class='img_source'>
        Photo by rawpixel.com from Pexels
      </p>
    </div>
    <div class="card-body">
      <h6 class="card-title text-center text-muted">Obdarowujesz w tym roku:</h6>
      <h5 class="card-title text-center"><%= @recipient.full_name %></h5>
      <h6 class="card-title text-center text-muted">Życzy sobie:</h6>
      <% if @wish.present? %>
        <p class="card-text text-center">
          <%= @wish.description %>
        </p>
        <% if @wish.status == 'pending'%>
          <div class="col-12 text-center">
            <%= link_to t('wish.lock'), lock_wish_path(@wish.id), class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% else %>
        <p class='card-text text-center'>
          Wygląda na to, że jeszcze nie ma tu wymarzonego prezentu.
        </p>
      <% end %>
    </div>
  </div>
</div>
